body {
  font-family: Helvetica, Verdana, Geneva, Arial, sans-serif;
  color: #1b2631;

}

body a {
  text-decoration: none;
  color: #154360;
}

body a:hover {
  text-decoration: underline;
}

#navbar {
  background-color: #092644f9;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#navbar .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#navbar .links a {
  text-decoration: none;
  color: #D0DCDC;
  display: flex;
  text-align: center;
  padding: 14px;
  font-size: 1.1rem;
}

#navbar .links a:hover {
  color: #f2f2f2;
  text-decoration: none;
}

#navbar .icon {
  display: none;
  right: 0;
  top: 0;
  padding: 15px;
}

.fa-bars {
  color: #D0DCDC;
}


#navbar .home {
  float: left;
  left: 0;
  top: 0;
  padding: 5px;
}

#navbar img {
  height: 35px;
  width: 35px;
}

#me {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 30%
}

#welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  width: 30%
}

#welcome img {
  padding: 20px;
  align-self: center;
  box-shadow: 5px 5px;
  border-radius: 50%;
  width: 100%;
  height: auto;
}

.welcome-text {
  font-size: 2.5rem;
}

.welcome-subtext {
  font-size: initial;
  padding: 10px;
}

#about {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 10px;
}

.about-text {
  width: 75%;
  text-align: justify;
  font-size: 1rem;
}

.about-links {
  flex-direction: row;
}

.about-links img {
  height: 35px;
  width: 35px;
}

#researchoutput {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 10px;
}

.researchoutput-text {
  width: 75%;
  text-align: justify;
  font-size: 1rem;
}

#contact {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.contact-text {
  font-size: 0.9rem;
}

#bottom-bar {
  background-color: silver;
  color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 600px) {
  #navbar {
    justify-content: space-between;
  }
  #navbar .links a {display: none;}
  #navbar .icon {
    display: flex;
  }
  #navbar.responsive .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  #navbar.responsive .links a {
    float: none;
    display: flex;
  }
}
